# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.old
*.orig
*.coverage
.coverage.*
.cache
*.cover
.hypothesis/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.sql
*.sqlite3

# Django
*.mo
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#IGNOAR MIGRACIONES
migrations/
*/migrations/
.venv
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
.next

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Next.js
**/*/.next
frontend/eva_ui/.next
frontend/eva_ui/.next/
frontend/eva_ui/.next/*
frontend/eva_ui/.env
frontend/eva_ui/.env.local

# Ignorar archivos de cache de Python
**/__pycache__/
**/*.pyc
*.pyc
__pycache__/
__pycache__/
*.pyc

.env
media/
